/* ===========================================
BLOG
=========================================== */

.blogNav a[href="#blog"] {
    color: $greenishCyan;
}

.blogHeader {
    background: url("../assets/beach-final-images/blog-image-1.jpg") no-repeat;
    background-size: cover;
    height: 60vh;
}

.blogArticle h1 {
    font-size: 3.5rem; // supposed to be 87px but I still think that's too big
    letter-spacing: 9px;
    line-height: 4.5rem;
    
}

.blog {
    display: grid;
    grid-template-columns: 65% 25%;
    grid-column-gap: 10%;

}