// Colours
$greenishCyan: #50E3C2;
$black: #2C2C2C;
$iceBlue: #FAFFFE;
$twilightBlue: #063974;
$lightBlue: #D2F9F1;
$spruce: #0C5F4C;

// Fonts
$lato: 'Lato', sans-serif;
$playFair: 'Playfair Display SC', serif;

// Using a few different sets of stylings for headers and such with similar formats
@mixin fontStyles($size, $lineHeight, $letterSpacing) {
    font-size: $size;
    letter-spacing: $letterSpacing;
    line-height: $lineHeight;
}

/* ===========================================
GENERAL & TYPOGRAPHY
=========================================== */

// Made some changes from the style guide for what seems to work a little more aesthetically
html {
    font-size: 125%;
}

body {
    font-family: 'Lato', sans-serif;
    color: $black;
    @include fontStyles(1rem, 1.6rem, 2px);
    max-width: 1920px;
    margin: 0 auto;
}

.wrapper {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

nav {
    text-align: center;
    @include fontStyles(1rem, 29px, 1px);
}

// headerNavs are the same throughout the pages
.headerNav {
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
    display: flex;
    text-transform: uppercase;
    ul {
        display: flex;
    }
    .logo {
    font-family: $playFair;
    font-size: 1.7rem; // 30px
    color: $greenishCyan;
    }
    li {
        margin-left: 50px;
        a {
            color: $iceBlue;
        }
    }
}

h1 {
    @include fontStyles(4.35rem, 2.9rem, 9px);
    color: $iceBlue;
}

h2 {
    @include fontStyles(1.75rem, 2.9rem, 3.6px); 
    color: $spruce;
}

h3 {
    @include fontStyles(1.5rem, 2.9rem, 3.0px);
    color: $spruce;
}

h4 {
    @include fontStyles(1.1rem, 1.45rem, 1px)
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    border: none;
    font-family: $playFair;
    @include fontStyles(1rem, 1.6rem, 1px);
    text-align: center;
    background-color: $twilightBlue;
    color: $iceBlue;
    padding: 10px 15px;
}

input, textarea {
    border: none;
    border-bottom: 2px solid $greenishCyan;
    @include fontStyles (1rem, 1.6rem, 2px);
    padding: 25px 35px;
    opacity: 0.7;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}