// Colours
$greenishCyan: #50E3C2;
$black: #2C2C2C;
$iceBlue: #FAFFFE;
$twilightBlue: #063974;
$lightBlue: #D2F9F1;
$spruce: #0C5F4C;

// Fonts
$lato: 'Lato', sans-serif;
$playFair: 'Playfair Display SC', serif;


/* ===========================================
GENERAL & TYPOGRAPHY
=========================================== */

html {
    font-size: 125%;
}

body {
    font-family: 'Lato', sans-serif;
    color: $black;
    letter-spacing: 1px;
}

.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $black;
}

button {
    border: none;
    font-family: $playFair;
}

img {
    max-width: 100%;
    display: block;
}

/* ===========================================
HEADER
=========================================== */

.homeHeader {
    background: url("../assets/beach-final-images/home-image-1.jpg") no-repeat;
    background-size: cover;
    height: 60vh;
}


.headerNav, h1 span {
    text-transform: uppercase;
}

h1 {
    color: $spruce;
    font-size: 3.1rem; // 62px
}

h1 span {
    color: $twilightBlue;
    font-family: $playFair;
    font-size: 4rem; // supposed to be 111.2px but that is ridiculous
}

.headerNav .logo {
    font-family: $playFair;
    font-size: 1.5rem; // 30px
    color: $greenishCyan;
}

.headerNav, .headerNav ul {
    display: flex;
}

.headerNav a {
    color: $iceBlue;
}

.homeNav a[href="#home"] {
    color: $greenishCyan;
}

.contactNav a[href="#contact"] {
    color: $greenishCyan;
}

.blogNav a[href="#blog"] {
    color: $greenishCyan;
}

.headerNav {
    justify-content: space-between;
    align-items: center;
}

/* ===========================================
ABOUT
=========================================== */



/* ===========================================
CONTACT FORM
=========================================== */

.contactForm input[type=textarea] {
    resize: none;
    height: 100px;
    width: 100%;
}



.contactHeader {
    background: url("../assets/beach-final-images/contact-image-1.jpg") no-repeat;
    background-size: cover;
    height: 60vh;
}

.contactHeader h1 {
    font-size: 4rem; // supposed to be 87px but I still think that's too big
    letter-spacing: 9px;
    line-height: 3rem;
    color: white;
}


.contactForm {
    position: relative;
}

.contact {
    display: flex;
}

// for now
.contactForm {
    width: 50%;
}

.contactInfo {
    width: 30%;
}

/* ===========================================
BLOG
=========================================== */

.blogHeader {
    background: url("../assets/beach-final-images/blog-image-1.jpg") no-repeat;
    background-size: cover;
    height: 60vh;
}

.blogArticle h1 {
    font-size: 4rem; // supposed to be 87px but I still think that's too big
    letter-spacing: 9px;
    line-height: 3rem;
    color: white;
}

.blogArticle {
    border-bottom: 5px solid $greenishCyan;
    border-right: 5px solid $greenishCyan;
}

.blogImage {
    background: $greenishCyan;

}

.blog .wrapper {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-auto-rows: 100%;
}

.blogPost {
    position: relative;
    top: -10%;
    left: -5%;
}

.blogPost h1 {
    position: absolute;
    top: -4rem;
}

.blogImage img {
    // position: relative;
    visibility: hidden;
}