/* ===========================================
HEADER
=========================================== */

// A bit of nesting to get used to it.
.homeHeader {
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    .homeHeaderBox {
        background: url("../assets/beach-final-images/home-image-1.jpg") no-repeat;
        background-size: cover;
        position: relative;
        grid-row: 1 / 11;
        grid-column: 1 / -1;
    }

    .homeHeaderBoxImage {
        grid-row: -1 / 5;
        grid-column: 1 / 6;
        z-index: 10;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}



.headerNav, h1 span {
    text-transform: uppercase;
}

header h1 {
    color: $spruce;
    
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translateX(-60%);
    z-index: 20;
    
}

h1 span {
    color: $twilightBlue;
    font-family: $playFair;
    font-size: 4rem; // supposed to be 111.2px but that is ridiculous
    
}

.headerNav {
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
    display: flex;
    ul {
        display: flex;
    }
    .logo {
    font-family: $playFair;
    font-size: 1.7rem; // 30px
    color: $greenishCyan;
    }
    li {
        margin-left: 50px;
        a {
            color: $iceBlue;
        }
    }
}

.homeNav a[href="#home"] {
    color: $greenishCyan;
}



/* ===========================================
MAIN
=========================================== */

.about {
    margin: 75px 0;
}

.about .wrapper {
    display: flex;
    align-items: center;
}

.aboutText {
    flex: 1 0 70%;

    p {
        padding-right: 50px;
    }
}

.aboutText > * {
    margin: 10px 0;
}

.aboutImage {
    box-shadow: -20px 20px  $greenishCyan;
}

/* ===========================================
GALLERY
=========================================== */

.gallery {
    padding: 75px 0;
    background-color: $lightBlue;
    .imageContainer {
        display: grid;
        grid-template-columns: repeat (3, 1fr);
        grid-template-rows: auto;
        column-gap: 3%;
        .image1 {
            grid-column-start: 1;
        }
        .image2 {
            grid-column-start: 2;
        }
        .image3 {
            grid-column-start: 3;
        }
    }
}