@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

a, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ===========================================
GENERAL & TYPOGRAPHY
=========================================== */
html {
  font-size: 125%;
}

body {
  font-family: "Lato", sans-serif;
  color: #2C2C2C;
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 1.6rem;
  max-width: 1920px;
  margin: 0 auto;
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

nav {
  text-align: center;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 29px;
}

.headerNav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  position: relative;
}
.headerNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.headerNav .logo {
  font-family: "Playfair Display SC", serif;
  font-size: 1.7rem;
  color: #50E3C2;
}
.headerNav li {
  margin-left: 50px;
}
.headerNav li a {
  color: #FAFFFE;
}

.headerNav label {
  font-size: 1.5rem;
  color: #50E3C2;
  display: none;
}

input[type=checkbox] {
  display: none;
}

.mobileNav:checked + ul {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(6, 57, 116, 0.4);
  position: absolute;
  right: 0;
  top: 60px;
}
.mobileNav:checked + ul li {
  margin: 0;
  padding: 10px 15px;
}

h1 {
  font-size: 4.35rem;
  letter-spacing: 9px;
  line-height: 8.5rem;
  color: #FAFFFE;
}

h2 {
  font-size: 1.75rem;
  letter-spacing: 3.6px;
  line-height: 2.9rem;
  color: #0C5F4C;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: 3px;
  line-height: 2.9rem;
  color: #0C5F4C;
}

h4 {
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1.45rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  font-family: "Playfair Display SC", serif;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.6rem;
  text-align: center;
  background-color: #063974;
  color: #FAFFFE;
  padding: 10px 15px;
}

input, textarea {
  border: none;
  border-bottom: 2px solid #50E3C2;
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 1.6rem;
  padding: 25px 35px;
  opacity: 0.7;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* ===========================================
HEADER
=========================================== */
.homeHeader {
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.homeHeaderBox {
  background: url("../assets/beach-final-images/home-image-1.jpg") no-repeat;
  background-size: cover;
  position: relative;
  grid-row: 1/11;
  grid-column: 1/-1;
}
.homeHeaderBox .homeNav a[href="#home"] {
  color: #50E3C2;
}
.homeHeaderBox h1 {
  font-size: 2.5rem;
  letter-spacing: 6.7px;
  line-height: 3.2rem;
  color: #0C5F4C;
  position: absolute;
  top: 50%;
  left: 60%;
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
  z-index: 20;
}
.homeHeaderBox h1 span {
  text-transform: uppercase;
  color: #063974;
  font-family: "Playfair Display SC", serif;
  font-size: 4rem;
}

.homeHeaderBoxImage {
  grid-row: -1/5;
  grid-column: 1/6;
  z-index: 10;
}
.homeHeaderBoxImage img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

/* ===========================================
MAIN
=========================================== */
.about {
  margin: 75px 0;
}
.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .aboutText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 70%;
          flex: 1 0 70%;
}
.about .aboutTextBox p {
  padding-right: 50px;
}
.about .aboutTextBox > * {
  margin: 10px 0;
}
.about .aboutImage {
  -webkit-box-shadow: -20px 20px #50E3C2;
          box-shadow: -20px 20px #50E3C2;
}

/* ===========================================
GALLERY & IMAGE CAROUSEL
=========================================== */
.gallery {
  padding: 75px 0;
  background-color: #D2F9F1;
  position: relative;
}
.gallery .carouselTracker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: rgba(6, 57, 116, 0.8);
  padding: 2%;
}
.gallery .carouselTracker i {
  padding: 0 2vw;
}

.imageContainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.imageContainer .galleryImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60vw;
  height: 40vw;
  max-width: 500px;
  max-height: 300px;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 500ms, -webkit-transform 500ms;
  transition: opacity 500ms, -webkit-transform 500ms;
  transition: transform 500ms, opacity 500ms;
  transition: transform 500ms, opacity 500ms, -webkit-transform 500ms;
}
.imageContainer .galleryImage img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0px 0px 5px 3px #063974;
          box-shadow: 0px 0px 5px 3px #063974;
}
.imageContainer .active {
  position: relative;
  opacity: 1;
}
.imageContainer .left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.imageContainer .right {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.imageContainer .arrow {
  display: inline-block;
  color: #D2F9F1;
  padding: 15px;
  position: absolute;
  background: rgba(6, 57, 116, 0.8);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  z-index: 10;
}
.imageContainer .arrow:hover, .imageContainer .arrow:focus-within {
  cursor: pointer;
}
.imageContainer .leftArrow {
  left: 0;
}
.imageContainer .rightArrow {
  right: 0;
}

/* ===========================================
MIDDLE NAVIGATION
=========================================== */
.middleNavigation {
  margin: 10% 0 15%;
}

.middleNavigation .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.middleNavigation .wrapper .navigation {
  display: grid;
  grid-template-columns: 3rem 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.middleNavigation .wrapper .navigation p {
  grid-column: 2/3;
}
.middleNavigation .wrapper .navigation i {
  color: #FAFFFE;
}
.middleNavigation .wrapper .navigation .icon-background {
  color: #50E3C2;
}

/* ===========================================
PLAN AHEAD
=========================================== */
.planning {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #D2F9F1;
  gap: 5% 10%;
  padding-bottom: 5%;
}
.planning img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.planning .plan.image {
  -webkit-box-shadow: 20px 20px #50E3C2;
          box-shadow: 20px 20px #50E3C2;
  position: relative;
  top: -30px;
}
.planning .plan h2 {
  color: #063974;
}
.planning .location.image {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  z-index: 10;
  position: relative;
  bottom: -30px;
  -webkit-box-shadow: -20px 20px #50E3C2;
          box-shadow: -20px 20px #50E3C2;
}
.planning .location.text .textContainer {
  text-align: right;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.text .textContainer > * {
  margin: 10px 0;
}

/* ===========================================
FREE TRIP
=========================================== */
.freeTripImage img {
  width: 100%;
}

.freeTrip .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.freeTrip .wrapper .freeTripText {
  text-align: center;
  padding: 10% 10% 15%;
}
.freeTrip .wrapper .freeTripText > * {
  margin: 10px 0;
}

/* ===========================================
FOOTER - Since footer is the same for each page
=========================================== */
footer {
  text-align: center;
  color: #FAFFFE;
  background-color: #2C2C2C;
}
footer p {
  padding: 10px 0;
}

/* ===========================================
BLOG ARTICLE
=========================================== */
.blogHeader {
  background: url("../assets/beach-final-images/blog-image-1.jpg") no-repeat;
  background-size: cover;
  height: 70vh;
  margin-bottom: -40vh;
}
.blogHeader .blogNav a[href="#blog"] {
  color: #50E3C2;
}

.blogWrapper {
  padding-left: 17%;
}

.blog {
  display: grid;
  grid-template-columns: 63% 23%;
  grid-template-rows: 53vh 1fr;
  grid-column-gap: 14%;
}
.blog .blogPost {
  grid-area: 1/1/-1/2;
}
.blog p {
  letter-spacing: 1.5px;
}

.blogImage {
  margin-right: 20px;
  -webkit-box-shadow: 30px 30px 0px -10px #50E3C2;
          box-shadow: 30px 30px 0px -10px #50E3C2;
}
.blogImage img {
  width: 100%;
  height: 100%;
}

.blogText {
  border-right: 5px solid #50E3C2;
  border-bottom: 5px solid #50E3C2;
  padding: 100px 20px 50px;
}
.blogText .blogWrapper p {
  margin: 0 20px 30px 0;
}
.blogText .blogWrapper p:nth-of-type(1) {
  font-style: italic;
  color: #063974;
  letter-spacing: 0px;
}
.blogText .blogWrapper p:nth-of-type(1) span {
  font-weight: 700;
}

/* ===========================================
COMMENTS
=========================================== */
.comments h3 {
  color: #2C2C2C;
  letter-spacing: 1px;
  margin: 35px 0;
}

.commentBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.commentBox .comment {
  display: grid;
  grid-template-columns: 13% 82%;
  grid-column-gap: 5%;
  margin-bottom: 7%;
}
.commentBox .comment .commenter img {
  width: 100%;
  height: auto;
}
.commentBox .comment .commentText {
  padding-right: 10px;
}
.commentBox .comment .commentText p:first-child {
  line-height: 1.1rem;
  font-weight: 700;
  color: #063974;
  margin-bottom: 5px;
}

.blogForm {
  display: grid;
  grid-template-columns: 47% 47%;
  grid-column-gap: 6%;
  grid-row-gap: 40px;
  margin-bottom: 20%;
}
.blogForm textarea,
.blogForm button {
  grid-column: 1/-1;
}
.blogForm textarea {
  resize: none;
  height: 200px;
  border: 2px solid #50E3C2;
}

/* ===========================================
ASIDE
=========================================== */
.ourMission {
  grid-area: 2/2/-1/-1;
}
.ourMission h4 {
  letter-spacing: 2px;
  color: #063974;
}
.ourMission p, .ourMission a {
  font-size: 0.9rem;
}
.ourMission p {
  line-height: 1.4rem;
  letter-spacing: 2.5px;
}
.ourMission a {
  color: #0C5F4C;
  font-weight: 700;
}

.mission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 25px;
}
.mission .missionText {
  margin: 15px 0 30px 5px;
}

.recentPosts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.recentPosts .recentPostsText {
  margin: 15px 0 30px 10px;
}
.recentPosts li {
  color: #2C2C2C;
  line-height: 1.6rem;
}
.recentPosts li::before {
  content: "•";
  color: #50E3C2;
  font-weight: bold;
  display: inline-block;
  width: 1.2rem;
}

/* ===========================================
CONTACT 
=========================================== */
.contactHeader {
  background: url("../assets/beach-final-images/contact-image-1.jpg") no-repeat;
  background-size: cover;
  height: 70vh;
  margin-bottom: -40vh;
}
.contactHeader .contactNav a[href="#contact"] {
  color: #50E3C2;
}

.contact .wrapper {
  display: grid;
  grid-template-columns: 75% 20%;
  grid-column-gap: 5%;
  grid-template-rows: 30vh 1fr;
}
.contact .wrapper .contactSection {
  grid-area: 1/1/-1/2;
  padding-bottom: 15%;
}

.formBox {
  background: white;
  padding: 8%;
  position: relative;
  left: -8%;
  -webkit-box-shadow: 30px 30px 0px -10px #50E3C2;
          box-shadow: 30px 30px 0px -10px #50E3C2;
}

.contactForm {
  display: grid;
  grid-template-columns: 47% 47%;
  grid-column-gap: 6%;
  grid-row-gap: 40px;
}
.contactForm textarea,
.contactForm button {
  grid-column: 1/-1;
}
.contactForm textarea {
  resize: none;
  height: 200px;
  border: 2px solid #50E3C2;
}

/* ===========================================
CONTACT INFO - ASIDE
=========================================== */
.contactInfo {
  grid-area: 2/2/-1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contactInfo .favicons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contactInfo .favicons ul li {
  padding: 5px 10% 5px 0;
  font-size: 1.3rem;
}
.contactInfo h4 {
  color: #2C2C2C;
  font-size: 1.3rem;
  letter-spacing: 2px;
  line-height: 1.5rem;
}
.contactInfo > * {
  padding: 5px 0;
}
.contactInfo p {
  letter-spacing: 1px;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .headerNav h1,
.blog h1,
.contact h1 {
    font-size: 2.5rem;
    letter-spacing: 6.7px;
    line-height: 4.8rem;
  }

  .headerNav .logo {
    font-size: 1rem;
  }

  .headerNav label {
    display: block;
  }

  .headerNav ul {
    display: none;
  }
  .headerNav ul li:hover, .headerNav ul li:focus-within {
    background-color: rgba(80, 227, 194, 0.4);
  }

  .middleNavigation .wrapper,
.planning,
.blog,
.blogForm,
.commentBox .comment,
.contact .wrapper,
.contactForm {
    grid-template-columns: 1fr;
  }
  .middleNavigation .wrapper > *,
.planning > *,
.blog > *,
.blogForm > *,
.commentBox .comment > *,
.contact .wrapper > *,
.contactForm > * {
    grid-column: auto;
    grid-row: auto;
  }

  .navigation {
    margin: 30px 0;
  }

  .location.image {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .blogWrapper {
    padding: 0;
  }

  .planning,
.blogPost,
.ourMission {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
  }

  .planning {
    gap: 0;
    background-color: transparent;
  }
  .planning > * {
    margin: 5% 0;
  }
  .planning .plan.text .textContainer,
.planning .location.text .textContainer {
    text-align: center;
  }

  .missionImage,
.commenter {
    display: none;
  }

  .formBox {
    left: 0;
  }

  .contactInfo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 5%;
  }
  .contactInfo p {
    text-align: center;
  }

  .mission,
.recentPosts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .recentPosts li {
    font-style: italic;
  }
  .recentPosts li::before {
    display: none;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .blog h1,
.contact h1,
.homeHeaderBox h1,
.homeHeaderBox h1 span {
    font-size: 1.75rem;
    letter-spacing: 3.6px;
    line-height: 2.9rem;
  }

  h2 {
    font-size: 1.5rem;
    letter-spacing: 3px;
    line-height: 2.9rem;
  }

  input, textarea {
    padding: 5px 10px;
  }

  .homeHeaderBox {
    grid-row: 1/-1;
  }

  .homeHeaderBoxImage {
    display: none;
  }

  .about .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about .wrapper .aboutImage {
    margin: 25px 0 100px;
  }
  .about .wrapper p {
    padding: 0;
  }

  .aboutTextBox {
    text-align: center;
  }

  .freeTrip .wrapper .freeTripText {
    padding-left: 0;
    padding-right: 0;
  }
}