@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display+SC:ital,wght@1,900&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

a, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ===========================================
GENERAL & TYPOGRAPHY
=========================================== */
html {
  font-size: 125%;
}

body {
  font-family: "Lato", sans-serif;
  color: #2c2c2c;
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 1.6rem;
  max-width: 1920px;
  margin: 0 auto;
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

nav {
  text-align: center;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 29px;
}

.header-nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  position: relative;
}
.header-nav .nav-list {
  -webkit-transition: max-height 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-nav .logo {
  font-family: "Playfair Display SC", serif;
  font-size: 1.7rem;
  color: #50e3c2;
}
.header-nav li {
  margin-left: 50px;
}
.header-nav li a {
  color: #fafffe;
}

h1 {
  font-size: 4.35rem;
  letter-spacing: 9px;
  line-height: 8.5rem;
  color: #fafffe;
}

h2 {
  font-size: 1.75rem;
  letter-spacing: 3.6px;
  line-height: 2.9rem;
  color: #0c5f4c;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: 3px;
  line-height: 2.9rem;
  color: #0c5f4c;
}

h4 {
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1.45rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button[type=submit],
.navigation-a {
  border: none;
  font-family: "Playfair Display SC", serif;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.6rem;
  text-align: center;
  background-color: #063974;
  color: #fafffe;
  padding: 10px 15px;
  cursor: pointer;
}
button[type=submit]:hover,
.navigation-a:hover {
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  background-color: #50e3c2;
  color: #063974;
}

.navigation-a {
  display: inline-block;
}

input,
textarea {
  border: none;
  border-bottom: 2px solid #50e3c2;
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 1.6rem;
  padding: 25px 35px;
  opacity: 0.7;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* ===========================================
MENU BUTTON
=========================================== */
.menu-button {
  display: none;
  position: relative;
  padding: 0;
  width: 35px;
  height: 35px;
  border: none;
  color: #50e3c2;
  background: none;
}

.hamburger-menu {
  width: 35px;
  height: 4px;
  background: #50e3c2;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger-menu::before,
.hamburger-menu::after {
  content: "";
  position: absolute;
  left: 0;
  width: 35px;
  height: 4px;
  background: #50e3c2;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger-menu::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.hamburger-menu::after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.menu-button.open .hamburger-menu {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
}

.menu-button.open .hamburger-menu::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

.menu-button.open .hamburger-menu::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

/* ===========================================
HEADER
=========================================== */
.home-header {
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.home-header-container {
  background: url("../assets/beach-final-images/home-image-1.jpg") no-repeat;
  background-size: cover;
  position: relative;
  grid-row: 1/11;
  grid-column: 1/-1;
}
.home-header-container .home-nav a:hover {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  color: #50e3c2;
}
.home-header-container h1 {
  font-size: 2.5rem;
  letter-spacing: 6.7px;
  line-height: 3.2rem;
  color: #0c5f4c;
  position: absolute;
  top: 50%;
  left: 60%;
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
  z-index: 20;
}
.home-header-container h1 span {
  text-transform: uppercase;
  color: #063974;
  font-family: "Playfair Display SC", serif;
  font-size: 4rem;
}

.home-header-container-image {
  grid-row: -1/5;
  grid-column: 1/6;
  z-index: 10;
}
.home-header-container-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

/* ===========================================
MAIN
=========================================== */
.about {
  margin: 75px 0;
}
.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 70%;
          flex: 1 0 70%;
}
.about .about-text-container p {
  padding-right: 50px;
}
.about .about-text-container > * {
  margin: 10px 0;
}
.about .about-image {
  -webkit-box-shadow: -20px 20px #50e3c2;
          box-shadow: -20px 20px #50e3c2;
}

/* ===========================================
GALLERY & IMAGE CAROUSEL
=========================================== */
.gallery {
  padding: 75px 0;
  background-color: #d2f9f1;
  position: relative;
}
.gallery .carousel-tracker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: rgba(6, 57, 116, 0.8);
  padding: 2vh;
}
.gallery .carousel-tracker i {
  padding: 0 2vw;
}

.image-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.image-container .gallery-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60vw;
  height: 40vw;
  max-width: 500px;
  max-height: 300px;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 500ms, -webkit-transform 500ms;
  transition: opacity 500ms, -webkit-transform 500ms;
  transition: transform 500ms, opacity 500ms;
  transition: transform 500ms, opacity 500ms, -webkit-transform 500ms;
}
.image-container .gallery-image img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0px 0px 5px 3px #063974;
          box-shadow: 0px 0px 5px 3px #063974;
}
.image-container .active {
  position: relative;
  opacity: 1;
}
.image-container .left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.image-container .right {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.image-container .arrow {
  display: inline-block;
  color: #D2F9F1;
  padding: 15px;
  position: absolute;
  background: rgba(6, 57, 116, 0.8);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  z-index: 10;
}
.image-container .arrow:hover, .image-container .arrow:focus-within {
  cursor: pointer;
}
.image-container .left-arrow {
  left: 0;
}
.image-container .right-arrow {
  right: 0;
}

/* ===========================================
MIDDLE NAVIGATION
=========================================== */
.middle-navigation {
  margin: 10% 0 15%;
}

.middle-navigation .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.middle-navigation .wrapper .navigation {
  display: grid;
  grid-template-columns: 3rem 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.middle-navigation .wrapper .navigation p {
  grid-column: 2/3;
}
.middle-navigation .wrapper .navigation i {
  color: #fafffe;
}
.middle-navigation .wrapper .navigation .icon-background {
  color: #50e3c2;
}

/* ===========================================
PLAN AHEAD
=========================================== */
.planning {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #d2f9f1;
  gap: 5% 10%;
  padding-bottom: 5%;
}
.planning img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.planning .plan.image {
  -webkit-box-shadow: 20px 20px #50e3c2;
          box-shadow: 20px 20px #50e3c2;
  position: relative;
  top: -30px;
}
.planning .plan h2 {
  color: #063974;
}
.planning .location.image {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  z-index: 10;
  position: relative;
  bottom: -30px;
  -webkit-box-shadow: -20px 20px #50e3c2;
          box-shadow: -20px 20px #50e3c2;
}
.planning .location.text .text-container {
  text-align: right;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.text .text-container > * {
  margin: 10px 0;
}

/* ===========================================
FREE TRIP
=========================================== */
.free-trip-image img {
  width: 100%;
}

.free-trip .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.free-trip .wrapper .free-trip-text {
  text-align: center;
  padding: 10% 10% 15%;
}
.free-trip .wrapper .free-trip-text > * {
  margin: 10px 0;
}

/* ===========================================
FOOTER - Since footer is the same for each page
=========================================== */
footer {
  text-align: center;
  color: #fafffe;
  background-color: #2c2c2c;
}
footer p {
  padding: 10px 0;
}
footer a {
  color: inherit;
  text-decoration: none;
}

/* ===========================================
BLOG ARTICLE
=========================================== */
.blog-header {
  background: url("../assets/beach-final-images/blog-image-1.jpg") no-repeat;
  background-size: cover;
  height: 70vh;
  margin-bottom: -40vh;
}
.blog-header .blog-nav a:hover {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  color: #50e3c2;
}

.blog-wrapper {
  padding-left: 17%;
}

.blog {
  display: grid;
  grid-template-columns: 63% 23%;
  grid-template-rows: 53vh 1fr;
  grid-column-gap: 14%;
}
.blog .blog-post {
  grid-area: 1/1/-1/2;
}
.blog p {
  letter-spacing: 1.5px;
}

.blog-image {
  margin-right: 20px;
  -webkit-box-shadow: 30px 30px 0px -10px #50e3c2;
          box-shadow: 30px 30px 0px -10px #50e3c2;
}
.blog-image img {
  width: 100%;
  height: 100%;
}

.blog-text {
  border-right: 5px solid #50e3c2;
  border-bottom: 5px solid #50e3c2;
  padding: 100px 20px 50px;
}
.blog-text .blog-wrapper p {
  margin: 0 20px 30px 0;
}
.blog-text .blog-wrapper p:nth-of-type(1) {
  font-style: italic;
  color: #063974;
  letter-spacing: 0px;
}
.blog-text .blog-wrapper p:nth-of-type(1) span {
  font-weight: 700;
}

/* ===========================================
COMMENTS
=========================================== */
.comments h3 {
  color: #2c2c2c;
  letter-spacing: 1px;
  margin: 35px 0;
}

.comment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.comment-container .comment {
  display: grid;
  grid-template-columns: 13% 82%;
  grid-column-gap: 5%;
  margin-bottom: 7%;
}
.comment-container .comment .commenter img {
  width: 100%;
  height: auto;
}
.comment-container .comment .comment-text {
  padding-right: 10px;
}
.comment-container .comment .comment-text p:first-child {
  line-height: 1.1rem;
  font-weight: 700;
  color: #063974;
  margin-bottom: 5px;
}

.blog-form {
  display: grid;
  grid-template-columns: 47% 47%;
  grid-column-gap: 6%;
  grid-row-gap: 40px;
  margin-bottom: 20%;
}
.blog-form textarea,
.blog-form button {
  grid-column: 1/-1;
}
.blog-form textarea {
  resize: none;
  height: 200px;
  border: 2px solid #50e3c2;
}

/* ===========================================
ASIDE
=========================================== */
.our-mission {
  grid-area: 2/2/-1/-1;
}
.our-mission h4 {
  letter-spacing: 2px;
  color: #063974;
}
.our-mission p,
.our-mission a {
  font-size: 0.9rem;
}
.our-mission p {
  line-height: 1.4rem;
  letter-spacing: 2.5px;
}
.our-mission a {
  color: #0c5f4c;
  font-weight: 700;
}

.mission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 25px;
}
.mission .mission-text {
  margin: 15px 0 30px 5px;
}

.recent-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.recent-posts .recent-posts-text {
  margin: 15px 0 30px 10px;
}
.recent-posts li {
  color: #2c2c2c;
  line-height: 1.6rem;
}
.recent-posts li::before {
  content: "•";
  color: #50e3c2;
  font-weight: bold;
  display: inline-block;
  width: 1.2rem;
}

/* ===========================================
CONTACT 
=========================================== */
.contact-header {
  background: url("../assets/beach-final-images/contact-image-1.jpg") no-repeat;
  background-size: cover;
  height: 70vh;
  margin-bottom: -40vh;
}
.contact-header .contact-nav a:hover {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  color: #50e3c2;
}

.contact .wrapper {
  display: grid;
  grid-template-columns: 75% 20%;
  grid-column-gap: 5%;
  grid-template-rows: 30vh 1fr;
}
.contact .wrapper .contact-section {
  grid-area: 1/1/-1/2;
  padding-bottom: 15%;
}

.form-box {
  background: white;
  padding: 8%;
  position: relative;
  left: -8%;
  -webkit-box-shadow: 30px 30px 0px -10px #50e3c2;
          box-shadow: 30px 30px 0px -10px #50e3c2;
}

.contact-form {
  display: grid;
  grid-template-columns: 47% 47%;
  grid-column-gap: 6%;
  grid-row-gap: 40px;
}
.contact-form textarea,
.contact-form button {
  grid-column: 1/-1;
}
.contact-form textarea {
  resize: none;
  height: 200px;
  border: 2px solid #50e3c2;
}

/* ===========================================
CONTACT INFO - ASIDE
=========================================== */
.contact-info {
  grid-area: 2/2/-1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact-info h4 {
  color: #2c2c2c;
  font-size: 1.3rem;
  letter-spacing: 2px;
  line-height: 1.5rem;
}
.contact-info > * {
  padding: 5px 0;
}
.contact-info p {
  letter-spacing: 1px;
}

.favicons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.favicons ul li {
  padding: 5px 10% 5px 0;
  font-size: 1.3rem;
}
.favicons a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
.favicons a:hover {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  color: #50e3c2;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .header-nav h1,
.blog h1,
.contact h1 {
    font-size: 2.5rem;
    letter-spacing: 6.7px;
    line-height: 4.8rem;
  }

  .header-nav {
    position: relative;
  }
  .header-nav .logo {
    font-size: 1rem;
  }
  .header-nav label {
    display: block;
  }
  .header-nav .nav-list {
    position: absolute;
    top: 75px;
    right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 0;
    overflow: hidden;
  }
  .header-nav .nav-list li:hover, .header-nav .nav-list li:focus-within {
    background-color: rgba(80, 227, 194, 0.8);
  }
  .header-nav .nav-list li:hover a, .header-nav .nav-list li:focus-within a {
    color: #063974;
  }
  .header-nav .nav-list li {
    padding: 15px 10px;
    min-width: 250px;
    margin: 1px;
    background-color: rgba(6, 57, 116, 0.8);
  }
  .header-nav .nav-list a {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  .home-header-container h1 {
    -webkit-transform: translate(-60%, -50%);
            transform: translate(-60%, -50%);
  }

  .menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .middle-navigation .wrapper,
.planning,
.blog,
.blog-form,
.comment-container .comment,
.contact .wrapper,
.contact-form {
    grid-template-columns: 1fr;
  }
  .middle-navigation .wrapper > *,
.planning > *,
.blog > *,
.blog-form > *,
.comment-container .comment > *,
.contact .wrapper > *,
.contact-form > * {
    grid-column: auto;
    grid-row: auto;
  }

  .navigation {
    margin: 30px 0;
  }

  .location.image {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .blog-wrapper {
    padding: 0;
  }

  .planning,
.blog-post,
.our-mission {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
  }

  .planning {
    gap: 0;
    background-color: transparent;
  }
  .planning > * {
    margin: 5% 0;
  }
  .planning .plan.image,
.planning .location.image {
    top: unset;
    bottom: unset;
  }
  .planning .plan.text .text-container,
.planning .location.text .text-container {
    text-align: center;
  }

  .mission-image,
.commenter {
    display: none;
  }

  .formBox {
    left: 0;
  }

  .contact-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 5%;
  }
  .contact-info p {
    text-align: center;
  }

  .mission,
.recent-posts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .recent-posts li {
    font-style: italic;
  }
  .recent-posts li::before {
    display: none;
  }

  .favicons ul li {
    padding: 5px;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .blog h1,
.contact h1,
.home-header-container h1,
.home-header-container h1 span {
    font-size: 1.75rem;
    letter-spacing: 3.6px;
    line-height: 2.9rem;
  }

  h2 {
    font-size: 1.5rem;
    letter-spacing: 3px;
    line-height: 2.9rem;
  }

  input,
textarea {
    padding: 5px 10px;
  }

  .home-header-container {
    grid-row: 1/-1;
  }

  .home-header-container-image {
    display: none;
  }

  .about .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about .wrapper .about-image {
    margin: 25px 0 100px;
  }
  .about .wrapper p {
    padding: 0;
  }

  .about-text-box {
    text-align: center;
  }

  .free-trip .wrapper .free-trip-text {
    padding-left: 0;
    padding-right: 0;
  }
}